
body {
  font-family: garamond, serif;
  font-size: 12px;
}


h1 {
display:none;
}

div {
padding: 30px 50px;
margin:10px auto;
  width: 75%;
    border:1px solid black;
      overflow:auto;
}


img {
display: block;
margin:12px auto;
width: 80%;

}


@media only screen and (min-width: 750px) {
  body {
font-size: 20px;
}

  img {
  display: block;
  width: 30%;
  margin: 12px 10px;
  float: right;

}
}
