
body {
font-family: garamond, arial, sans-serif;

}


h1 {
color:rgb(205, 23, 25);
font-family: garamond, arial, sans-serif;
text-align: center;
}

div {
padding: 30px 50px;
margin:10px auto;
  width: 75%;
    border:1px solid black;
      overflow:auto;
}


img {
display: block;
margin:12px auto;
width: 80%;

}


@media only screen and (min-width: 750px) {
  body {
font-size: 150%;
}

  img {
  display: block;
  width: 30%;
  margin: 12px 10px;
  float: right;

}
